/* Estilos para el efecto de volteo de la tarjeta */
.flipped {
    transform: rotateY(180deg);
}

.backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Para compatibilidad con Safari */
}

/* El contenedor relativo es el que gira */
.relative {
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

/* Ambas caras ocupan el mismo espacio y ocultan su reverso */
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* La cara trasera está pre-rotada */
.back {
    transform: rotateY(180deg);
}

